<!-- <form (ngSubmit)="setPassword()">
    Email/Username:<input type="email" name="t1" value={{login.id}} readonly/><br>
      Password:<input type="password" name="t2" [(ngModel)]=pass1 /><br>
      <button type="submit">Set Password</button>
      
  </form>
  <div *ngIf=[message]>{{message}}</div> -->
 

  <!-- <div class="container min-vh-100 min-vw-100" id="bg"> -->
    <div class="row h-100 justify-content-center align-items-center" id="bg">
    <div class="row main" id="box">
    <form  (ngSubmit)="setPassword()" style="max-width:300px;margin:auto">
      <h4 style="text-align: center;">SET PASSWORD</h4><br>
    
    
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">  <i class="fa fa-envelope icon"></i></span>  
        </div>
        <input type="text" name="t1" value={{login.id}} readonly placeholder="Email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
    
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm"> <i class="fa fa-key icon"></i></span>  
        </div>
        <input type="password" id="t2" name="t2" [(ngModel)]=pass1 placeholder="Password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" class="form-control is-invalid"  required>
      </div>
      
    
      
      <button type="submit" class="col-sm-12 align-center btn btn-primary">Confirm</button>
      
      <div class="alert alert-danger mt-4" role="alert" *ngIf="message=='password field is empty'" style="padding:5px;">
        {{message}}
      </div> 
      <div class="alert alert-success mt-4" role="alert" *ngIf="message=='Password set, Login to continue'" style="padding:5px;">
        {{message}}
      </div> 
    </form>
    <!-- </div> -->
    </div>
