<!-- <p>pic-upload works!</p>
<form (ngSubmit)="upload()">
    Select your Property Certificate <input type="file" name="t1" (change)="onFileChange($event)" />
    <button type="submit" >Upload</button> 
</form> -->

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
    <div class="row main">
    <form  (ngSubmit)="upload()" style="max-width:300px;margin:auto">
      <h4 style="text-align: center;">SELECT YOUR PROPERTY CERTIFICATE</h4><br>
    
    
      <div class="input-group input-group-sm mb-3">
        <input type="file" name="t1" (change)="onFileChange($event)" />
      </div>
    

    
      
      <button type="submit" class="col-sm-12 align-center btn btn-primary">UPLOAD</button>
      
      <div class="alert alert-success mt-4" role="alert" *ngIf="message" style="padding:5px;">
        {{message}}
      </div> 
    </form>

    </div>
    </div>
    </div>
