.main {
    border: 1px solid rgb(187, 186, 186);
    padding: 40px;
    width: 400px;
    margin-top: 100px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
    /* background-color: aliceblue; */
    background-color: #f1f8e9;
  }