<!-- <app-login></app-login><br><br><br><hr> -->
<!-- <app-admin-request></app-admin-request> -->
<!-- <app-register-bidder></app-register-bidder> -->
 <!-- <app-registrationfarmer></app-registrationfarmer> -->
 <!-- <app-bidinfo></app-bidinfo> -->
 <!-- <app-maxbid></app-maxbid> -->
 <!-- <app-edit-component></app-edit-component> -->
<!-- <app-place-sellrequest></app-place-sellrequest> -->
<!-- <app-get-active-sell-request></app-get-active-sell-request> -->
<!-- <app-get-active-sell-request></app-get-active-sell-request> -->
<!-- <br><br><br><br><br><hr> -->

<!-- <app-sample></app-sample> -->

<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color:#222222;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LTI MarketPlace</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="help">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>
<!-- <div > -->
<footer class="container-fluid text-center">
  <p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 LTI MarketPlace</p>
</footer>
<!-- </div> -->