

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="c1">
      <img src="assets/images/photo1.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="c1">
      <img src="assets/images/photo4.jpg" class="d-block w-100" alt="...">
      </div>

    </div>
    <div class="carousel-item">
      <div class="c1">
      <img src="assets/images/photo3.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>


<!-----------------------------text section -------------------------->
<div>
<div class="card">
  <h5 class="card-header">Terms and Conditions
  </h5>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"> One User Account Per Person / IP Address / House is allowed</li>
      <li class="list-group-item"> Group Bidding is strictly not allowed</li>
      <li class="list-group-item"> Do not use any 3rd party bidding softwares of bots for bidding</li>
      <li class="list-group-item">Misleading USER IDs are not allowed - Please don't try your tricks</li>
      <li class="list-group-item">   Violation of rules will result in Suspension of your account</li>
    </ul>
  </div>
</div>

</div>
<!----------------------------------footer------------------------->

<!-- <footer class="container-fluid text-center">
  <p>2021<i class="fa fa-copyright" aria-hidden="true"></i> LTI MarketPlace</p>
</footer> -->

 
